<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<meta name="description" content="Compile Stylus, Less or Sass preporcessor to CSS Online">
	<meta name="keywords" content="Stylus, Less, Sass, SCSS, Preprocessor, CSS, Editor, Compiler, Converter, Online, Online compiler, Online editor, In browser">
	<meta name="color-scheme" content="dark">
	<meta name="theme-color" content="#1a1a1a">
	<link rel="shortcut icon" href="{{ '/img/favicon.png' | url }}" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ '/style.css' | url }}">
	<link rel="preload" href="{{ '/js/script.js' | url }}" as="script" />
	{% if preprocessor %}
	<script src="{{ preprocessor | url }}"></script>
	{% endif %}
	

	<script src="{{ '/js/lz-string.min.js' | url }}"></script>

	<link rel="manifest" href="{{ '/manifest.json' | url }}" />
</head>
<body>

{% include 'header.njk' %}
{{ content | safe }}

</body>
</html>