<div id="container" preprocessor="{{ name | lower }}">
	<div id="input">
		<pre id="input-editor" class="editor">{% block content %}{% endblock %}</pre>
		<div id="input-statusbar" class="statusbar">
			<span>
				<span>Input (<a id="version" href="{{ docs }}" target="_blank" title="Check the documentation for {{ version }}">{{ version }}</a>)</span>
				<button id="settings" class="icon" title="Settings (ctrl + q)">
					<img src="{{ '/img/settings-3-fill.svg' | url }}" />
				</button>
				<button id="save" class="icon" title="Save (ctrl + s)">
					<img src="{{ '/img/save-3-fill.svg' | url }}" />
				</button>
			</span>
			<span title="Bytes | Unix (LF)">
				<span>Length: </span>
				<span id="length">0</span>
			</span>
		</div>
	</div>
	<div id="resizer" title="Double-click to center"></div>
	<div id="output">
		<noscript> Your browser doesn't support JavaScript or it's disabled.</noscript>
		<pre id="output-editor" class="editor"></pre>
		<div id="output-statusbar" class="statusbar">
			<span>
				<span>Output (CSS)</span>
				<button id="settings2" class="icon" title="Settings (ctrl + q)">
					<img src="{{ '/img/settings-3-fill.svg' | url }}" />
				</button>
				<button id="save2" class="icon" title="Save (ctrl + s)">
					<img src="{{ '/img/save-3-fill.svg' | url }}" />
				</button>
			</span>
			<span title="Bytes | Unix (LF)">
				<span>Length: </span>
				<span id="length2">0</span>
			</span>
		</div>
	</div>
</div>

<script src="{{ '/js/script.js' | url }}"></script>