<header class="flex">
		<nav class="flex">
			<a class="logo flex" href="{{ '/' | url }}"><img src="{{ '/img/logo.svg' | url }}"></a>
			<a href="{{ '/stylus' | url }}">Stylus</a><span>&</span><a href="{{ '/less' | url }}">Less</a>
			<span>to CSS Converter</span>
		</nav>
		<nav class="flex">
			<button id="popup" class="flex" title="Open in Popup">Popup <img src="{{ '/img/popup-icon.svg' | url }}" /></button>
			<button id="share" class="flex" title="Copy url to clipboard">Share <img src="{{ '/img/share-fill.svg' | url }}" /></button>
			<a href="https://github.com/pabli24/toCSS" target="_blank" title="See on GitHub" class="flex"><img src="{{ '/img/github-fill.svg' | url }}" /></a>
		</nav>
</header>