<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stylus & Less to CSS Converter</title>
	<meta name="description" content="Convert Stylus or Less preporcessors to CSS Online">
	<meta name="keywords" content="Stylus, Less, CSS, Editor, Converter, preprocessor, compiler, online, online compiler, online editor">
	<meta name="color-scheme" content="dark">
	<meta name="theme-color" content="#1a1a1a">
	<link rel="shortcut icon" href="{{ '/img/favicon.png' | url }}" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ '/style.css' | url }}">
</head>
<body>

<main class="center">
	<div>
		<img src="{{ '/img/logo.svg' | url }}" width="300px" draggable="false">
		<span><a href="{{ '/stylus' | url }}">Stylus</a>&<a href="{{ '/less' | url }}">Less</a></span>
		<h1>to CSS Converter</h1>
		<footer>
			<a href="{{ 'https://github.com/pabli24/toCSS' | url }}" title="See Project on GitHub">See project on <img src="{{ '/img/github-fill.svg' | url }}"/></a>
		</footer>
	</div>
</main>

</body>
</html>