<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stylus & Less to CSS Compiler</title>
	<meta name="description" content="Compile Stylus or Less preporcessor to CSS Online">
	<meta name="keywords" content="Stylus, Less, Preprocessor, CSS, Editor, Compiler, Converter, Online, Online compiler, Online editor, In browser">
	<meta name="color-scheme" content="dark">
	<meta name="theme-color" content="#1a1a1a">
	<link rel="shortcut icon" href="{{ '/img/favicon.png' | url }}" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ '/style.css' | url }}">
</head>
<body>

<main class="center">
	<div>
		<section>
			<img src="{{ '/img/logo.svg' | url }}" width="300px" draggable="false">
			<ul>
				<li><a href="{{ '/stylus' | url }}">Stylus</a></li>
				<li><a href="{{ '/less' | url }}">Less</a></li>
				<li><a href="{{ '/scss' | url }}">Scss</a></li>
				<li><a href="{{ '/sass' | url }}">Sass</a></li>
			</ul>
		</section>
		<h1>to CSS Compiler</h1>
		<footer>
			<a href="https://github.com/pabli24/toCSS" title="See Project on GitHub">See project on <img src="{{ '/img/github-fill.svg' | url }}"/></a>
		</footer>
	</div>
</main>

</body>
</html>