---
title: Stylus to CSS Compiler
layout: 'base.njk'
preprocessor: '/js/stylus-renderer.min.js'
name: 'stylus'
version: 'Stylus v0.58.1'
docs: 'https://stylus-lang.com/docs/executable.html'
---

{% extends 'editor.njk' %} 
{% block content %}
box-shadow($x = 0, $y = 0, $blur = 1px, $alpha = 1)
	$val = $x $y $blur rgba(0, 0, 0, $alpha)
	-webkit-box-shadow: $val
	-moz-box-shadow:    $val
	box-shadow:         $val

.box
	base = #f938ab
	color:        saturate(base, 5%)
	border-color: lighten(base, 30%)
	div
		box-shadow: 0 0 5px 0.4
{% endblock %}